html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url("img/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.row{
	margin: 0;
}
.FormContainer
{
	height: 700px;
	max-width: 500px;
}
.Form{
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	margin-top: 20px;
}
.underInputs
{
	display: inline-flex;
	width: 50%;
	margin-left: -10%;
	align-content: stretch;	
	justify-content: space-between;
	margin: auto;
	flex-wrap: wrap;
    align-items: baseline;
}

input{
	padding: 10px 10px 10px 10px;
	border-radius: 25px;
	border: 1px solid rgba(0,0,0,0.5);
	outline: none;
	width: 50%;
	font-size: 13px;
	margin: 10px;
}

input::placeholder{
	font-size: 13px;
	color: #000;
	opacity: 0.5;
}

input[type="checkbox"]{
	width: 13px;
}

input[type="submit"]{
	border: 2px solid #fff;
	background-color: #576beb; 
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}

input[type="submit"]:hover{
	border: 2px solid #576beb; 
	background-color: #fff;
	color: #576beb; 
}

a{
	color: #000;
}

a:hover{
	
	color: #576beb;
}