body
{
	background-color: #d7dbf5;
}
.container
{
	background: #fff;
}

nav
{
	background-color: #202120;
}

.search 
{
	background-color: #202120;
	border-radius: 20px;
	margin-left:20px;
}

.btn
{
	border-radius: 20px;
}